.App {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .text-default {
        color: white;
    }

    .divider {
        border: 1px solid rgba(99, 99, 99, 0.631);
        width: 99vw;
        margin-top: 30px;
        margin-bottom: 30px;
        align-self: center;
    }

    .header-profile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        margin: 20px;
        margin-left: 6vw;

        .profile-image {
            border-radius: 100%;
            border: 2px solid rgb(195, 0, 255);
            box-shadow: 0px 0px 8px rgb(195, 0, 255);
        }

        .description {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 12px;

            :nth-child(1) {
                font-size: 30px;
                font-weight: 600;
            }

        }
    }

    .work-area {
        display: flex;
        padding-left: 6vw;
        padding-right: 6vw;
        gap: 20px;
        width: fit-content;
        align-self: center;

        .conteainter-interprise {
            display: flex;
            flex-direction: column;
            gap: 6px;

            :nth-child(1) {
                font-size: 20px;
                margin-bottom: 4px;
            }

            :nth-child(2) {
                font-size: 12px;
            }

            :nth-child(3) {
                width: 240px;
            }

            :nth-child(4) {
                font-size: 14px;
                font-weight: 800;
            }

            :nth-child(5) {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    .image-group {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .work-integration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        :nth-child(1) {
            font-size: 20px;
            align-self: flex-start;
            margin-left: 6vw;
        }

        :nth-child(2) {
            :nth-child(1) {
                align-self: center;
            }
        }
    }

    .container-libs {

        :nth-child(1) {
            font-size: 20px;
            align-self: flex-start;
            margin-left: 6vw;
        }

        .libs {
            margin-top: 20px;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 20px;
        }
    }

    .container-projects {
        margin-left: 6vw;

        :nth-child(1) {
            font-size: 20px;
            align-self: flex-start;
        }
    }
}

body {
    background-color: black;
}